[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
layoutId=
location=4
name=Default Dock
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=200
viewType=0
visibility=2
wallpaperplugin=org.kde.image

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration]
PreloadWeight=0

[Containments][1][Applets][2][Configuration][General]
isInLatteDock=true
launchers59=applications:Alacritty.desktop,applications:librewolf.desktop,applications:google-chrome.desktop,applications:brave-browser.desktop,applications:spotify-adblock.desktop,applications:org.telegram.desktop.desktop,file:///usr/share/applications/discord.desktop,applications:org.manjaro.pamac.manager.desktop,applications:obsidian.desktop,applications:code.desktop,applications:onlyoffice-desktopeditors.desktop,applications:pinta.desktop,applications:timeshift-gtk.desktop,applications:org.kde.dolphin.desktop

[Containments][1][Applets][4]
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][4][Configuration]
PreloadWeight=100
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][4][Configuration][ConfigDialog]
DialogHeight=667
DialogWidth=680

[Containments][1][Applets][4][Configuration][General]
filterMimeTypes=\\0
filterPattern=.bashrc
iconSize=2
positions={"1920x1080":[]}
url=file:///home/jager
viewMode=1

[Containments][1][Applets][7]
immutability=1
plugin=org.kde.plasma.icon

[Containments][1][Applets][7][Configuration]
localPath=/home/jager/.local/share/plasma_icons/trash:⁄ (1).desktop
url=trash:/

[Containments][1][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
advanced=false
alignmentUpgraded=true
appletOrder=2;4;7
appletShadowsEnabled=false
backgroundRadius=20
configurationSticker=true
durationTime=x1
iconSize=50
panelShadows=false
panelSize=100
panelTransparency=30
plasmaBackgroundForPopups=true
shadowOpacity=60
shadowSize=45
shadows=All
shadowsUpgraded=true
showGlow=false
tasksUpgraded=true
thickMargin=15
titleTooltips=false
zoomLevel=6

[Containments][1][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[Containments][1][Indicator][org.kde.latte.default][General]
activeStyle=Dot
minimizedTaskColoredDifferently=true

[LayoutSettings]
activities={0}
backgroundStyle=0
color=blue
customBackground=
customTextColor=
disableBordersForMaximizedWindows=true
icon=
lastUsedActivity=31c550aa-18ce-4e80-a58c-18f3f912a7da
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=/usr/share/color-schemes/KvMojave.colors
showInMenu=true
version=2

[ScreenMapping]
screenMapping=
